@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Application uses</h2>
        <ul>
            <li>Bullet</li>
            <li>Journal</li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>Erm...</h2>
        <ul>
            <li>:)</li>
        </ul>
    </div>
</div>
